---
layout: main_layout.njk
---
{% from "macros/postTag.njk" import postTagBarPlain %}
<style>
   p + ul {
       margin-top: -1rem;
   }
   ul {
       padding-left: 20px;
   }
   code {
       overflow-y: scroll;
   }

</style>
<article class="container">
    <h1 class="title">{{ title }}</h1>
    <hr/>
    <div style="text-align: center">
        {{ postTagBarPlain(tags, availableTags) }}
    </div>
    {{ content | toc | safe }}
    <hr/>
    {{ content | safe }}
</article>
