---
navLinks:
    Home: "/"
    Blog Posts: "/posts/"
    Tags: "/tags/"
    About: "/about/"
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
</head>

{% set css %}
    {% include "css/normalize.css" %}
    {% include "css/skeleton.css" %}
    {% include "css/main.css" %}
{% endset %}

<style>
    {{ css | cssmin | safe }}
</style>

<body>

<div class="container" id="main">
    <nav id="header-nav" class="u-full-width">
        {% for label, path in navLinks %}
            <a
                    href="{{ path }}"
                    {% if page.url == path %}
                        aria-current="page"
                    {% endif %}
            >{{ label }}</a>
        {% endfor %}
    </nav>
    {{ content | safe }}
</div>
</body>

</html>
