---
navLinks:
    Home: "/"
    Posts: "/posts/"
    Tags: "/tags/"
    About: "/about/"
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% set css %}
        {% include "css/normalize.css" %}
        {% include "css/skeleton.css" %}
        {% include "css/main.css" %}
        {% include "css/prism-material-dark.css" %}
    {% endset %}

    {% set js %}
        {% include "js/prettydate.js" %}
    {% endset %}

    <style>
        {{ css | cssmin | safe }}


    </style>

    <script>
        {{ js | jsmin | safe }}
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap" rel="stylesheet">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨🏻‍💻</text></svg>">

</head>


<body>
<div class="container" id="main" onload="">
    <header>
        <nav id="header-nav">
            {% for label, path in navLinks %}
                <a href="{{ path }}"
                    {% if page.url == path %}
                    aria-current="page"
                    {% endif %}>{{ label }}
                </a>
            {% endfor %}
        </nav>
    </header>

    <hr id="header-nav-hr"/>

    <main>
        {{ content | safe }}
    </main>

    <hr/>
    <footer>
        <br/>
        <br/>
        <p id="about">
            Made with ❤️ by <a href="/">antran22</a> using <a href="https://www.11ty.dev/">11ty</a>
            <br/>
            Hosted 100% on Github
            <br/>
            View source code <a href="https://github.com/antran22/antran22.github.io">here</a>
        </p>
    </footer>
</div>
</body>

</html>
