---
navLinks:
    Home: "/"
    Blog Posts: "/posts/"
    Tags: "/tags/"
    About: "/about/"
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% set css %}
        {% include "css/normalize.css" %}
        {% include "css/skeleton.css" %}
        {% include "css/main.css" %}
        {% include "css/prism-material-dark.css" %}
    {% endset %}

    {% set js %}
        {% include "js/prettydate.js" %}
    {% endset %}

    <style>
        @font-face {
            font-family:"FiraCode Mono";
            src: url("_static/fonts/Fira Code Regular Nerd Font Complete Mono.ttf") /* TTF file for CSS3 browsers */
        }

        {{ css | cssmin | safe }}
    </style>

    <script>
        {{ js | safe }}
    </script>

</head>


<body>
<div class="container" id="main" onload="">
    <header>
        <nav id="header-nav" class="u-full-width">
            {% for label, path in navLinks %}
                <a
                        href="{{ path }}"
                        {% if page.url == path %}
                            aria-current="page"
                        {% endif %}
                >{{ label }}</a>
            {% endfor %}
        </nav>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <p>
            Made with ❤️ by antran22 using <a href="https://www.11ty.dev/">11ty</a>
        </p>
        <address>
            Contact Me
            <br/>
            <a href="mailto:trancongvietan22@gmail.com"><i class="icon"></i></a>
            <a href="https://www.linkedin.com/in/antran22/"><i class="icon"></i></a>
            <a href="https://github.com/antran22/"><i class="icon"></i></a>
        </address>
    </footer>
</div>
</body>

</html>
