{% macro postTagBar(post) %}
    {{ postTagBarPlain (post.data.tags, post.data.availableTags)}}
{% endmacro %}

{% macro postTagBarPlain(tags, availableTags) %}
    <p>
        {% for tag in tags %}
            {% if availableTags[tag] %}
                {{ postTagLink(availableTags[tag]) }}
            {% endif %}
        {% endfor %}
    </p>
{% endmacro %}

{% macro postTagLink(tagInfo) %}
    <a href="/tags/{{ tagInfo.name }}" class="post-tag-link">
        {{ postTag(tagInfo) }}
    </a>
{% endmacro %}

{% macro postTag(tagInfo) %}
    <code class="post-tag-span">
        {{ tagInfo.icon }}&nbsp;{{ tagInfo.name }}
    </code>
{% endmacro %}
