---
layout: main_layout.njk
title: antran22(1) - Just your normal computer guy 💻
---
<style>
    #home-title {
        font-size: 1em;
    }

    #home-article h2 {
        font-size: 1.5em;
    }

    #home-article h3 {
        font-family: "Fira Code", Courier, monospace;
        font-size: 1.2em;
    }

    #home-article p {
        margin-left: 10%;
    }

    #home-article address {
        margin-left: 10%;
    }

    #skill-list {
        margin-left: 10%;
    }

    #skill-list > li {
        list-style-type: none;
    }

    #skill-list > li > ul {
        margin-left: 15%;
        margin-top: -10px;
        margin-bottom: 30px;
    }

    #home-article aside {
        min-width: 100px;
    }
</style>


<article id="home-article" >
    <h1 id="home-title">
        <span>antran22(1)</span>
        <span style="float: right">antran22(1)</span>
    </h1>
    <div class="row">
        <aside class="two columns">
            <a href="#name">NAME</a>
            <br/>
            <a href="#synopsis">SYNOPSIS</a>
            <br/>
            <a href="#description">DESCRIPTION</a>
            <br/>
            <a href="#skills">SKILLS</a>
            <br/>
            <a href="#contact">CONTACT</a>
        </aside>

        <div class="ten columns">
            <h2 id="name">NAME</h2>
            <p>antran22 - Just your normal computer guy 💻</p>


            <h2 id="synopsis">SYNOPSIS</h2>
            <p id="synopsis-list">
                <b>antran22 --undergrad</b> information_technology
                <br/>
                <b>antran22 --tech_lead</b>
                <br/>
                <b>antran22 --software</b> engineer
                <br/>
                <b>antran22 --machine_learning</b> engineer
                <br/>
                <b>antran22 --other</b>
            </p>


            <h2 id="description">DESCRIPTION</h2>
            <p>
                My name is <b>An, Tran Cong Viet</b> (Trần Công Việt An in Vietnamese
                I am a third year undergrad in Hanoi, currently pursuing an Information Technology B.Sc. degree.
                I have spent 5 years learning and working in various sectors of IT:
                <i>Software Engineering</i>, <i>Ed-tech</i>, <i>Deep Learning</i>, <i>De-Fi</i>, <i>Low-code/No-code</i>
            </p>
            <p>
                I am an advocate of the FOSS movement and much enjoy contributing and making use of open source
                projects.
                I love building products that are transparent, community-driven and user-oriented.
                I am interested in connecting with other people who share this same fascination.
            </p>

            <h2 id="skills">SKILLS</h2>
            <ul id="skill-list">
                <li>
                    <h3>
                        <b>--undergrad</b> information_technology
                    </h3>
                    <p>
                        3<sup>rd</sup> year undergraduate at <a href="https://uet.vnu.edu.vn/">Vietnam National
                            University
                            of Engineering and Technology (VNU-UET)</a>, majoring in Advanced Information Technology.
                        <br/>
                        GPA: 3.2
                    </p>
                </li>

                <li>
                    <h3>
                        <b>--tech_lead</b>
                    </h3>
                    <p>Tech Lead at <a href="https://youngit.org/">YoungIT For-profit Social Enterprise</a>.</p>
                    <ul>
                        <li>
                            <b>Solution Architect</b>
                        </li>
                        <li>
                            <b>No-code/Low-code expert</b>
                        </li>
                    </ul>

                </li>

                <li>
                    <h3>
                        <b>--software</b> engineer
                    </h3>

                    <p>Experienced in the following software engineering disciplines:</p>
                    <ul>
                        <li>Web Application Development</li>
                        <li>Backend Development</li>
                        <li>Mobile App Development</li>
                    </ul>

                    <p>Proficient in the following programming languages/framework:</p>
                    <ul>
                        <li><code>NodeJS</code></li>
                        <li><code>ReactJS</code></li>
                        <li><code>Python</code></li>
                        <li><code>Java - Android</code></li>
                    </ul>

                    <p>Familiar with the following programming languages/framework:</p>
                    <ul>
                        <li><code>Go</code></li>
                        <li><code>Flutter</code></li>
                        <li><code>React Native</code></li>
                    </ul>
                    <p>
                        Able to use <code>Docker</code>, <code>Docker Compose</code>, <code>Docker Swarm</code> for
                        development and small scale development.
                        <br/>
                        Able to write <code>HTML-CSS</code>. This frontpage is written fully in HTML.
                        <br/>
                        Know how to use <code>git</code>
                    </p>
                </li>

                <li>
                    <h3><b>--machine_learning</b> engineer</h3>
                    <p>
                        Machine Learning Engineering Assistant at <a href="https://vinbigdata.org/">VinBigData
                            Institute</a> Speech and Language Processing Department, from October 2019 to August 2021.
                        <br/>
                        Work with natural language data processing, data transformation pipeline.
                        Deploy Speech Synthesis Deep Learning model on Android Device.
                    </p>
                    <br/>
                </li>

                <li>
                    <h3><b>--other</b></h3>
                </li>
            </ul>

            <h2 id="contact">CONTACT</h2>
            <address>
                <br/>
                Email: <a href="mailto:trancongvietan22@gmail.com">trancongvietan22@gmail.com</a>
                <br/>
                LinkedIn: <a href="https://www.linkedin.com/in/antran22/">antran22</a>
                <br/>
                Github: <a href="https://github.com/antran22/">antran22</a>
            </address>
        </div>
    </div>


</article>

