---
layout: main_layout.njk
title: antran22(1) - Just your normal computer guy 💻
---
<style>
    #home-title {
        font-size: 1em;
    }

    #home-article h2 {
        font-size: 1.5em;
    }

    #home-article p {
        margin-left: 10%;
    }

    #home-article address {
        margin-left: 10%;
    }

    #option-list {
        margin-left: 10%;
    }

    #option-list > li {
        list-style-type: none;
    }

    #option-list > li > ul {
        margin-left: 15%;
        margin-top: -10px;
        margin-bottom: 30px;
    }


</style>

<article id="home-article">

    <h1 id="home-title">
        <span>antran22(1)</span>
        <span style="float: right">antran22(1)</span>
    </h1>
    <div class="row">
        <aside class="two columns">
            <a href="#name">NAME</a>
            <br/>
            <a href="#synopsis">SYNOPSIS</a>
            <br/>
            <a href="#description">DESCRIPTION</a>
            <br/>
            <a href="#options">OPTIONS</a>
            <br/>
            <a href="#contact">CONTACT</a>
        </aside>

        <div class="ten columns">
            <h2 id="name">NAME</h2>
            <p>antran22 - Just your normal computer guy 💻</p>


            <h2 id="synopsis">SYNOPSIS</h2>
            <p id="synopsis-list">
                <b>antran22 --undergrad</b> information_technology
                <br/>
                <b>antran22 --project</b> leader
                <br/>
                <b>antran22 --software</b> developer
                <br/>
                <b>antran22 --machine_learning</b> engineer
                <br/>
                <b>antran22 --social</b> contributor
                <br/>
                <b>antran22 --other</b>
            </p>


            <h2 id="description">DESCRIPTION</h2>
            <p>
                <b>An, Tran Cong Viet</b> (Trần Công Việt An in Vietnamese) is a second year
                Information Technology undergrad. He has spent 4 years working in the IT
                industry both as an intern and a (slightly-inexperienced) team leader. His projects span across several
                sectors of IT: <i>Software Engineering</i>, <i>Deep Learning</i>, <i>Consumer Cybersecurity</i>.
            </p>
            <p>
                He openly supports sustainable, minimal and ergonomic technologies. He is also an advocate of the
                FOSS movement, even when his lack of experience doesn't allow him to contribute much to open source
                projects. <b>antran22</b> enjoys building products that are transparent, community-driven and
                user-oriented.
                He is very interested in connecting with people that share this fascination.
            </p>

            <h2 id="options">OPTIONS</h2>
            <ul id="option-list">
                <li>
                    <b>--undergrad</b> student
                    <br/>
                    <p>
                        2<sup>nd</sup> year undergrad at <a href="https://uet.vnu.edu.vn/">Vietnam National University
                            of Engineering and Technology (VNU-UET)</a>, majoring in Advanced Information Technology.
                        <br/>
                        GPA: 3.2 🤦🏻
                    </p>
                </li>

                <li>
                    <b>--project</b> leader
                    <br/>
                    <p>
                        Software Project Lead at <a href="https://yitec.net/">YITEC R&D</a>.
                        Knowledgeable of Agile methodology and Scrum processes.
                        <br/>
                        Able to use Project management tools: <code>Jira</code> <code>Kanban</code>
                    </p>
                </li>

                <li>
                    <b>--software</b> developer
                    <br/>
                    <p>
                        Adequate experience in some software development disciplines:
                    <ul>
                        <li>Web Application Development</li>
                        <li>Backend Development</li>
                        <li>Mobile App Development</li>
                    </ul>
                    <p>
                        Proficient in <code>NodeJS</code> <code>ReactJS</code> <code>Java - Android</code>
                        <code>Python</code>.
                        <br/>
                        Able to use <code>Docker</code> and <code>docker-compose</code> stack at basic efficiency for
                        containerization
                        of productions and small scale deployment. Entry level knowledge of <code>Kubernetes</code>.
                        <br/>
                        Able to use <code>Golang</code> <code>Flutter</code> <code>React Native</code> for side projects
                        and prototyping purposes.
                        <br/>
                        Contrary to popular belief, able to write <code>HTML-CSS</code>. This page is written in HTML.
                        <br/>
                        Know how to use <code>git</code> (of course)
                    </p>
                </li>

                <li>
                    <b>--machine_learning</b> engineer
                    <p>
                        Machine Learning Engineering Intern at <a href="https://vinbigdata.org/">VinBigData
                            Institute</a> Speech and Language Processing Department (SLP) since Oct 2019.
                        <br/>
                        Familiar with the procedure of natural language data processing, data transformation.
                        Experienced with Speech Synthesis using Deep Learning model on mobile device.
                    </p>
                    <br/>
                </li>


                <li>
                    <b>--social</b> contributor
                    <br/>
                </li>

                <li>
                    <b>--other</b>
                    <br/>
                </li>
            </ul>

            <h2 id="contact">CONTACT</h2>
            <address>
                <br/>
                Email: <a href="mailto:trancongvietan22@gmail.com">trancongvietan22@gmail.com</a>
                <br/>
                LinkedIn: <a href="https://www.linkedin.com/in/antran22/">antran22</a>
                <br/>
                Github: <a href="https://github.com/antran22/">antran22</a>
            </address>
        </div>
    </div>


</article>

