---
layout: main.njk
---
<main>
    <h1 class="title">Blog Tags</h1>
    <ul>
        {%- for tag, posts in collections | omitGeneratedCollections -%}
            <li>
                {% postTagLink availableTags[tag] %}
            </li>
        {%- endfor -%}
    </ul>
</main>
