

h1.title {
  text-align: center;
  margin-bottom: 50px;
}

body {
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: "FiraCode Mono", Courier, monospace, sans-serif;
}

/* Header and Nav Bar */
nav {
  text-align: center;
}

nav a {
  text-decoration: none;
}

#header-nav {
  margin-bottom: 30px;
}

#header-nav a {
  margin: 0 30px;
}

nav a[aria-current="page"] {
  text-decoration: underline;
}

#page-nav a {
  margin: 0 5px;
}
/* Main */
main {
  margin-top: 30px;
  min-height: 100vh;
  margin-bottom: 100px;
}
/* Footer */

address {
  font-style: normal;
}
address .icon {
  font-size: 2em;
  font-style: normal;
}
address a {
  text-decoration: none;
}
footer {
  text-align: center;
}

/* Post Entry on Listing */

.post-entry {
  margin: 20px 0;
}

.post-entry-date {
  margin-bottom: 10px;
}

.post-tag-span {
  display: inline-block;
  padding: 5px;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 5px;
}

.post-tag-span:hover {
  background: var(--highlighted-border-color);
}

.post-tag-link {
  text-decoration: none;
}

.pretty-date {
  visibility: hidden;
}

/* Article Image */

article img {
  height: auto;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  article img {
    max-width: 75%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  article img {
    max-width: 60%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  article img {
    max-width: 50%;
  }
}

/* Article Audio */
article audio {
  display: block;
  margin: 2em auto;
}

/* Article Video */
article video {
  display: block;
  margin: 2em auto;
  border-radius: 5px;
}

article blockquote {
  background: var(--highlighted-background-color);
  font-size: 1.15em;
  border-radius: 5px;
  padding: 1.5em;
  font-style: italic;
}
